Tugas 3 PAK_Tegar Asayahanda Firdaus.json
{
  "name": "Tugas 3 PAK",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Anda adalah asisten FAQ spesialis pemasaran. Jawab hanya berdasarkan Google Sheets. Jika tidak ada data, Sarankan hubungi tim support.\n\nGunakan kolom \"pertanyaan\" untuk mencocokkan pertanyaan pengguna."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "470ba536-ee99-4325-ad4b-12106cb08e3a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "06f8ad37-a9b2-41b5-8ca6-06e4dc3a1f57",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IIoXjri9SUmbwIt0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "0bbfc547-2539-4936-8a60-aa59bed8705a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SkHOCjiwftF7Ss1rfrgOz3spaaOMISxWyXLSVEDTEHI",
          "mode": "list",
          "cachedResultName": "List Program Pelatihan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SkHOCjiwftF7Ss1rfrgOz3spaaOMISxWyXLSVEDTEHI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SkHOCjiwftF7Ss1rfrgOz3spaaOMISxWyXLSVEDTEHI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        208
      ],
      "id": "bdb769ed-5416-4bd5-9551-579753703b5e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6SpYOVn666dMTSnL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Tegar. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        0
      ],
      "id": "c6744fa8-72c6-4be5-8690-4502e79046e8",
      "name": "When chat message received",
      "webhookId": "df12fd22-9898-44ec-bfa0-fe40d98a8941"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "da5bed02-450e-4301-a752-f174a9eaed91",
  "meta": {
    "instanceId": "5825b4845ea486a3f7cbb8bd10ef9879c0f58e72ae0a77921b810769ade793f9"
  },
  "id": "DpTJ2mOP7Y6rrh8P",
  "tags": []
}